# Ignore logs, DB, temp files, and datasets
airflow/logs/
airflow/db/
airflow/nc/
airflow/csv/
*.duckdb

# Python artifacts
__pycache__/
*.pyc
*.pid
*.swp
*.log

# Docker artifacts
.docker/
.docker-compose*

# Airflow environment & override
.env
.env.*
docker-compose.override.yml

# Jupyter notebooks checkpoint
.ipynb_checkpoints/

# Jenkins temp scripts
*.bat~
*.sh~
*.tmp
*.bak
